<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BART 기반 감성챗봇</title>
    <link rel="stylesheet" href="./static/style.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <script src="./static/script.js" defer></script>
</head>
<body>
    <main>
        <header class="title-container">
            <h1>BART 기반 감성챗봇</h1>
        </header>
        <div class="chatting-container">
            <ul class="chatting-list">
                <li class="sent">
                    <img src="/static/img/user.png" alt="">
                    <p class="msg">안녕</p>
                </li>
                <li class="received">
                    <img src="/static/img/chatbot.png" alt="">
                    <p class="msg">안녕</p>
                </li>
            </ul>
        </div>
        <div class="input-container">
            <input type="text" maxlength="200" class="chatting-input" onkeypress="pressEnter(this)" onkeyup="checkLength(this)">
            <button type="button" class="send-btn">전송</button>
        </div>
    </main>
    <div class="modal">
        <div class="modal-body">
            <button type="button" id="close-btn">X</button>
            <div class="info"></div>
        </div>
    </div>
</body>
</html>